.round {
    display: flex;
    align-items: center;
    text-align: center;
}

.round label {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #0555A4;
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-color: #0555A4;
}

.round label:after {
    border: 2px solid #D6D3E9;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    opacity: 0;
    margin-bottom: 5px;
    transform: rotate(-45deg);
    width: 12px;
    opacity: 1;
}
