.round {
    display: flex;
    align-items: center;
    text-align: center;
}

.round label {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #362593;
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-color: #362593;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    opacity: 0;
    margin-bottom: 5px;
    transform: rotate(-45deg);
    width: 12px;
    opacity: 1;
}

.round input[type="checkbox"] {
    visibility: hidden;
    width: 0;
}

.round input[type="checkbox"]:checked+label {
    background-color: #362593;
    border-color: #362593;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}